<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      .list { list-style-type: none; margin: 0; padding: 0; padding-bottom: 60px; }
      .list { padding: 5px 10px; }
      .list li { background: #eee; margin: 10px 0; }
    </style>
  </head>
  <body>
    <h1>User Online List</h1>
    <ul class="list" id="users"></ul>
    <h1>Group Online User</h1>
    <ul class="list" id="groups"></ul>

    
    <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      window.onload = function () {
        var socket = io('/chat-im', {
          query: {
            token: 'super-admin',
          },
          transports: ['websocket']
        });

        // 获取在线用户列表
        socket.emit('getUserOnlineList', function({ userList, groupList }) {
          console.log(userList)
          console.log(groupList)
          userList.forEach(item => {
            $('#users').append($('<li>').html(`
              <img width="30" height="30" src="${item.portrait}" />
              <di>user name: ${item.name} - ${item.phone}</div>
              <p>${ item.socketId }</p>
            `));
          })

          for (const groupid in groupList) {
            $('#groups').append($('<li>').html(`
              <div>groupid: ${ groupid } 在线人数：${groupList[groupid].length}</div>
              <div>${ JSON.stringify(groupList[groupid].sockets) }</div>
            `))
          }

        });
      };
    </script>
  </body>
</html>